---
export interface Props {
  customClass?: string;
}
const { customClass = '' } = Astro.props;
---

<section class={`section section-values ${customClass}`} id="values" data-section="values">
  <div class="d-grid" id="values-inner">
    <div class="top">
      <h2 class="h1 values-title mb-0" aria-label="Values">Values</h2>
    </div>

    <!-- Card 01: Precision -->
    <div class="card-wrapper" data-value="0">
      <svg width="400" height="600" viewBox="0 0 400 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="399" height="599" stroke="#EDE9DE" stroke-opacity="0.3" />
        <g opacity="0.8">
          <path d="M218.748 208C217.549 208 216.543 206.992 216.543 205.791C216.543 204.543 217.549 203.534 218.748 203.534C219.994 203.534 221 204.543 221 205.791C221 206.992 219.994 208 218.748 208Z" fill="#EDE9DE" />
          <path d="M209.466 168.576V202.622C209.466 205.599 209.945 206.223 213.731 206.223V207.232H202.18V206.223C206.206 206.223 206.734 205.599 206.734 202.622V174.483C206.734 171.169 206.734 170.689 202.372 173.426L201.749 172.466L207.453 168.96L208.938 168L209.466 168.576Z" fill="#EDE9DE" />
          <path d="M189.017 207.952C182.211 207.952 179 198.972 179 187.88C179 176.931 182.211 168.048 189.017 168.048C195.823 168.048 199.034 176.931 199.034 187.88C199.034 198.972 195.823 207.952 189.017 207.952ZM189.017 206.319C193.954 206.319 195.919 198.204 195.919 187.88C195.919 177.7 193.954 169.681 189.017 169.681C184.033 169.681 182.115 177.7 182.115 187.88C182.115 198.204 184.033 206.319 189.017 206.319Z" fill="#EDE9DE" />
        </g>
        <path d="M200.013 248.5H200.025C236.509 248.5 269.856 266.414 295.338 296.008C269.856 325.585 236.51 343.5 200.025 343.5H200.013C163.49 343.5 130.143 325.586 104.661 296.008C129.744 266.878 162.447 249.065 198.297 248.514L200.013 248.5Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M199.211 255.403C199.341 254.957 199.944 254.929 200.134 255.319L200.166 255.403C202.456 263.271 204.706 269.396 207.497 274.315C207.835 274.912 208.535 275.203 209.196 275.022C214.672 273.528 220.61 270.819 227.837 266.864C228.245 266.641 228.691 267.049 228.548 267.459L228.511 267.541C224.541 274.751 221.833 280.687 220.338 286.162C220.156 286.824 220.447 287.523 221.043 287.861C225.963 290.654 232.088 292.92 239.973 295.214C240.449 295.353 240.45 296.03 239.973 296.169C232.09 298.459 225.964 300.709 221.044 303.5H221.043C220.448 303.838 220.156 304.537 220.337 305.198C221.832 310.674 224.541 316.611 228.511 323.837C228.75 324.272 228.27 324.751 227.835 324.512C221.06 320.79 215.418 318.177 210.228 316.634L209.195 316.34L209.071 316.312C208.449 316.197 207.813 316.487 207.496 317.046C204.705 321.965 202.456 328.091 200.166 335.974C200.027 336.451 199.349 336.451 199.21 335.974C196.915 328.09 194.65 321.964 191.857 317.045C191.519 316.449 190.819 316.159 190.158 316.34C184.683 317.834 178.746 320.543 171.535 324.512H171.534C171.099 324.751 170.621 324.273 170.858 323.838C174.813 316.612 177.522 310.674 179.017 305.198C179.197 304.537 178.906 303.838 178.311 303.5C173.392 300.709 167.283 298.46 159.403 296.17C158.926 296.031 158.926 295.354 159.402 295.215C167.283 292.92 173.393 290.655 178.311 287.862C178.906 287.524 179.197 286.825 179.017 286.164C177.522 280.689 174.814 274.751 170.859 267.54C170.621 267.106 171.099 266.627 171.534 266.865C178.746 270.82 184.683 273.528 190.159 275.022C190.82 275.203 191.519 274.913 191.857 274.316C194.65 269.397 196.916 263.272 199.211 255.403Z" stroke="#EDE9DE" stroke-opacity="0.8" />
      </svg>
      <img src="/images/jslucas-card__values--precision.png" alt="Precision" class="value-card" />
    </div>

    <!-- Card 02: Bold -->
    <div class="card-wrapper" data-value="1">
      <svg width="400" height="600" viewBox="0 0 400 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="399" height="599" stroke="#EDE9DE" stroke-opacity="0.3" />
        <g opacity="0.8">
          <path d="M222.743 208C221.543 208 220.534 206.99 220.534 205.788C220.534 204.538 221.543 203.529 222.743 203.529C223.991 203.529 225 204.538 225 205.788C225 206.99 223.991 208 222.743 208Z" fill="#EDE9DE" />
          <path d="M200.394 204.538H212.542C215.567 204.538 216.335 203.721 217.535 199.779L218.544 200.067L216.959 205.211L216.335 207.231H196.889V206.221C205.195 196.75 213.022 187.375 213.022 177.808C213.022 173.913 211.533 170.692 207.212 170.692C202.314 170.692 199.722 175.404 199.626 182.279H198.521C198.521 173.721 201.978 168 208.22 168C213.646 168 215.999 171.894 215.999 176.798C215.999 186.654 206.876 197.327 200.394 204.394V204.538Z" fill="#EDE9DE" />
          <path d="M185.035 207.952C178.217 207.952 175 198.961 175 187.856C175 176.894 178.217 168 185.035 168C191.853 168 195.07 176.894 195.07 187.856C195.07 198.961 191.853 207.952 185.035 207.952ZM185.035 206.317C189.981 206.317 191.949 198.192 191.949 187.856C191.949 177.663 189.981 169.635 185.035 169.635C180.042 169.635 178.121 177.663 178.121 187.856C178.121 198.192 180.042 206.317 185.035 206.317Z" fill="#EDE9DE" />
        </g>
        <path d="M291.559 333.389C293.249 331.601 294.474 329.604 295.208 327.408C298.479 317.619 291.553 305.177 275.705 292.374C260.028 279.708 237.441 268.13 212.106 259.772C186.77 251.414 161.699 247.271 141.511 248.105C121.103 248.949 108.063 254.804 104.792 264.592C101.521 274.381 108.448 286.823 124.295 299.626C139.972 312.292 162.559 323.87 187.894 332.228C213.23 340.586 238.301 344.729 258.489 343.895C274.318 343.241 285.716 339.571 291.559 333.389Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M235.481 312.847C236.626 311.638 237.458 310.287 237.958 308.8C240.173 302.213 235.557 293.883 224.962 285.346C214.535 276.945 199.51 269.275 182.653 263.75C165.797 258.225 149.11 255.5 135.664 256.076C122.002 256.661 113.258 260.612 111.042 267.2C108.827 273.788 113.443 282.117 124.038 290.654C134.465 299.055 149.49 306.725 166.347 312.25C183.203 317.775 199.89 320.501 213.336 319.924C223.916 319.471 231.548 316.999 235.481 312.847Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M184.392 294.301C185.033 293.615 185.5 292.847 185.781 292.001C187.009 288.303 184.505 283.672 178.731 278.962C173.125 274.389 165.053 270.216 156.002 267.213C146.951 264.209 137.985 262.728 130.757 263.041C123.31 263.365 118.534 265.579 117.305 269.277C116.077 272.976 118.581 277.606 124.355 282.317C129.961 286.89 138.033 291.062 147.084 294.066C156.135 297.069 165.101 298.551 172.329 298.237C178.073 297.988 182.228 296.613 184.392 294.301Z" stroke="#EDE9DE" stroke-opacity="0.8" />
      </svg>
      <img src="/images/jslucas-card__values--bold.png" alt="Bold" class="value-card" />
    </div>

    <!-- Card 03: Honesty -->
    <div class="card-wrapper" data-value="2">
      <svg width="400" height="600" viewBox="0 0 400 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="399" height="599" stroke="#EDE9DE" stroke-opacity="0.3" />
        <g opacity="0.8">
          <path d="M220.732 208C219.526 208 218.513 206.99 218.513 205.788C218.513 204.538 219.526 203.529 220.732 203.529C221.987 203.529 223 204.538 223 205.788C223 206.99 221.987 208 220.732 208Z" fill="#EDE9DE" />
          <path d="M199.465 204.827C199.465 204.009 200.092 203.433 200.912 203.433C201.829 203.433 202.408 204.154 203.035 204.827C203.904 205.788 204.772 206.413 206.702 206.413C210.079 206.413 213.987 203.769 213.987 197.134C213.987 189.538 209.307 187.471 204.869 187.471V186.461C209.452 184.875 212.685 181.846 212.685 176.654C212.685 173.433 211.092 170.452 207.377 170.452C203.228 170.452 201.588 173.288 200.816 176.462H199.754C200.575 170.837 203.904 168 208.246 168C212.443 168 215.676 171.173 215.676 176.317C215.676 180.356 213.505 183.865 208.68 186.221V186.365C213.505 187.086 217.075 190.356 217.075 196.509C217.075 203.433 212.057 208 205.978 208C202.746 208 199.465 206.654 199.465 204.827Z" fill="#EDE9DE" />
          <path d="M187.084 207.952C180.233 207.952 177 198.961 177 187.856C177 176.894 180.233 168 187.084 168C193.935 168 197.167 176.894 197.167 187.856C197.167 198.961 193.935 207.952 187.084 207.952ZM187.084 206.317C192.053 206.317 194.031 198.192 194.031 187.856C194.031 177.663 192.053 169.635 187.084 169.635C182.066 169.635 180.136 177.663 180.136 187.856C180.136 198.192 182.066 206.317 187.084 206.317Z" fill="#EDE9DE" />
        </g>
        <path d="M123.5 342.725C111.55 329.648 104.5 313.315 104.5 296C104.5 278.685 111.55 262.352 123.5 249.275V342.725Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M155.5 343.241C137.257 335.319 124.5 317.149 124.5 296C124.5 274.851 137.257 256.68 155.5 248.758V343.241Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M200 248.5C223.984 248.5 243.5 269.725 243.5 296C243.5 322.275 223.984 343.5 200 343.5C176.016 343.5 156.5 322.275 156.5 296C156.5 269.725 176.016 248.5 200 248.5Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M244.5 343.241C262.743 335.319 275.5 317.149 275.5 296C275.5 274.851 262.743 256.68 244.5 248.758V343.241Z" stroke="#EDE9DE" stroke-opacity="0.8" />
        <path d="M276.5 342.725C288.45 329.648 295.5 313.315 295.5 296C295.5 278.685 288.45 262.352 276.5 249.275V342.725Z" stroke="#EDE9DE" stroke-opacity="0.8" />
      </svg>
      <img src="/images/jslucas-card__values--honesty.png" alt="Honesty" class="value-card" />
    </div>
  </div>
</section>
