---
export interface Props {
  customClass?: string;
}
const { customClass = '' } = Astro.props;
---

<section class={`section section-contact ${customClass}`} id="contact" data-section="contact">
</section>
