---
export interface Props {
  customClass?: string;
}
const { customClass = '' } = Astro.props;
---

<section class={`section section-about ${customClass}`} id="about" data-section="about">
</section>