---
export interface Props {
  customClass?: string;
}
const { customClass = '' } = Astro.props;
---

<section class={`section section-portfolio ${customClass}`} id="portfolio" data-section="portfolio">
</section>
