---
import JSIntroHeading from "./js-intro-heading.astro";

export interface Props {
	customClass?: string;
}
const { customClass = "section section-hero sticky-container" } = Astro.props;
---

<section class={`${customClass}`} id="hero">
	<div class="sticky-inner">
		<div id="intro-heading-canvas-container"></div>
		<div class="mouse">
			<span class="fs-6">Let me make it simple for you!</span>
		</div>
	</div>
	<JSIntroHeading />
</section>
