<svg width="0" height="0" aria-hidden="true">
	<filter
		id="grain"
		color-interpolation-filters="sRGB"
		primitiveUnits="objectBoundingBox"
	>
		<!--soften shapes first-->
		<feGaussianBlur in="SourceGraphic" stdDeviation="0.03" result="soft"
		></feGaussianBlur>
		<!--generate fine noise-->
		<feTurbulence type="fractalNoise" baseFrequency="1" numOctaves="2"
		></feTurbulence>
		<!--use noise as displacement map-->
		<feDisplacementMap in="soft" scale="1" xChannelSelector="R"
		></feDisplacementMap>
		<!--cover any displacement gaps with the BLURRED source, not the sharp one-->
		<feBlend in2="soft"></feBlend>
	</filter>
</svg>

<div class="bg-container">
	<svg class="card">
		<linearGradient id="g21">
			<stop stop-color="#18171A"></stop>
			<stop stop-color="#1D1B1D" offset="1"></stop>
		</linearGradient>
		<linearGradient id="g22">
			<stop stop-color="#212022"></stop>
			<stop stop-color="#302F30" offset="1"></stop>
		</linearGradient>
		<g>
			<rect width="100%" height="100%" fill="#000000"></rect>
			<ellipse rx="45%" ry="45%" fill="url(#g21)"></ellipse>
			<circle r="25%" fill="url(#g22)"></circle>
		</g>
	</svg>
</div>
