/* GLOBAL */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	@include clamp-text(16, 16, 40);
	line-height: 140%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $off-black;
	overflow-x: hidden;
}

main {
	position: relative;
	// top: 170vh;
	color: $off-black;
	z-index: 240;
	transition: background-color .5s;

	#site-home-link {
		position: fixed;
		top: vw(64);
		left: 50vw;
		opacity: 0;
		transform: translateX(-50%) translatey(-100px);
		transition: all .2s;

		.site-logo {
			max-width: vw(220)
		}
	}
}

#page.active {
	// .bg-container,
	// #laptop-3d-canvas-container {
	// 	display: none;
	// }

	main {
		// background-color: $off-white;

		#intro {
			transform: scale(1);
		}

		.icon-bullet {
			width: 100%;
			height: 100%;
		}

		#usp {
			opacity: 1;
		}

		#site-home-link {
			opacity: 1;
			transform: translateX(-50%) translatey(0px);
		}

		#intro .sticky-inner {
			transform: scale(1);
		}

		.h1-container {
			opacity: 1;
		}
	}
}