.bg-container {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 120vw;
	height: 120vh;
}

/* take out of document flow */
svg[height="0"][aria-hidden="true"] {
	position: fixed;
}

.card {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: $black;


	ellipse {
		rotate: -25deg;
	}

	circle {
		rotate: 45deg
	}
}

g {
	filter: url(#grain);
}