/* SECTION */
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	min-width: 100vw;
	min-height: 100vh;
	position: relative;

	&.sticky-container {
		min-height: 300vh;

		.sticky-inner {
			position: sticky;
			top: 0;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: vw(0);
			padding-bottom: vw(0);
		}
	}

	&#hero {
		justify-content: flex-start;
		position: absolute;
		top: 0;

		#intro-heading-canvas-container {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			width: 80vw;
			transform: translateX(-50%);
			pointer-events: none;

			canvas {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.mouse {
			height: 60px;
			width: 32px;
			opacity: .8;
			border: 3px solid $off-white;
			border-radius: 32px;
			position: absolute;
			left: 50%;
			bottom: 10vh;
			transform: translateX(-50%);

			span {
				width: vw(280);
				text-align: center;
				display: inline-block;
				position: absolute;
				color: $off-white;
				left: 50%;
				top: -50px;
				transform: translateX(-50%);
			}

			&::before {
				content: '';
				height: 20px;
				width: 2px;
				background: $off-white;
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: 10px;
				border-radius: 1px;
				transform: scaleY(0);
				animation: scroll 2s linear infinite;
			}

			&::after {
				content: '';
				height: 10vh;
				width: 1px;
				background: $off-white;
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				bottom: -10vh;
				opacity: .5;
				// transform: scaleY(0);
				// animation: scroll 2s linear infinite;
			}
		}
	}

	&#intro {
		justify-content: start;
		height: 350vh;

		.sticky-inner {
			opacity: .9;
			position: sticky;
			top: 0;
			height: 100vh;
			transform: scale(.8);
			transform-origin: center center;
			padding-top: vw(120);
			transition: all 1.8s;

			.burst {
				transform: scale(0);
				position: absolute;
				left: 10vw;
				top: 16vh;
				width: vw(280);
				z-index: -1;
			}
		}

		.spinning-text-container {
			display: none;
			position: absolute;
			top: vw(160);
			transform: scale(1.4);
			right: vw(-60);
			width: vw(640);
			height: vw(640);
			font-size: 8px;
			font-weight: 400;
			font-style: italic;
			background-image: url('/jslucas/images/jsl-memoji-heart.png');
			background-size: 60%;
			background-position: center;
			background-repeat: no-repeat;
			transform: scale(0);
			border-radius: 50%;
			box-shadow: 8px 8px 50px rgba(17, 17, 17, .05), inset 0 0 250px rgba(255, 255, 255, .2);
			overflow: hidden;
			backdrop-filter: url(#circle-filter) saturate(1) brightness(1.05);
			-webkit-backdrop-filter: url(#circle-filter) saturate(1) brightness(1.05);
			transition: all 1s;

			.spin-svg {
				display: block;
				width: 100%;
				height: 100%;
			}

			.spin-text {
				transform-origin: center center;
				animation: spin 20s linear infinite;
				fill: $off-black !important;
				font-weight: 800;
				font-size: vw(5);
				text-transform: uppercase;

				#textPath {
					display: flex;

					span {
						display: inline-flex;
					}
				}
			}

			&.goodbye {
				transform: scale(1.2) translateX(200px) !important;
				opacity: 0;
			}
		}
	}

	&#about {
		min-height: 200vh;
	}
}