/* FONTS */

/* Editorial New  */
@font-face {
	font-family: 'Editorial New';
	src: url('/jslucas/fonts/PPEditorialNewUltralight.woff2') format('woff2'),
		url('/jslucas/fonts/PPEditorialNewUltralight.woff') format('woff');
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Editorial New';
	src: url('/jslucas/fonts/PPEditorialNewUltralightItalic.woff2') format('woff2'),
		url('/jslucas/fonts/PPEditorialNewUltralightItalic.woff') format('woff');
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}

/* Melancoline */
@font-face {
	font-family: 'Melancoline';
	src: url('/jslucas/fonts/Melancoline.woff2') format('woff2'),
		url('/jslucas/fonts/Melancoline.woff') format('woff');
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}

/* Orsay */
@font-face {
	font-family: 'Orsay';
	src: url('/jslucas/fonts/Orsay.woff2') format('woff2'),
		url('/jslucas/fonts/Orsay.woff') format('woff');
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}

/* RL Madena */
@font-face {
	font-family: 'RL Madena';
	src: url('/jslucas/fonts/RL-Madena.woff2') format('woff2'),
		url('/jslucas/fonts/RL-Madena.woff') format('woff');
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'RL Madena';
	src: url('/jslucas/fonts/RL-Madena-Oblique.woff2') format('woff2'),
		url('/jslucas/fonts/RL-Madena-Oblique.woff') format('woff');
	font-weight: normal;
	font-stretch: normal;
	font-style: oblique;
	font-display: swap;
}

/* ZT Nature */
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Thin.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Thin.otf') format('opentype');
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-ThinItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-ThinItalic.otf') format('opentype');
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-ExtraLight.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-ExtraLightItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-ExtraLightItalic.otf') format('opentype');
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Light.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Light.otf') format('opentype');
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-LightItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-LightItalic.otf') format('opentype');
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Regular.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Regular.otf') format('opentype');
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Italic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Italic.otf') format('opentype');
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Medium.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Medium.otf') format('opentype');
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-MediumItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-MediumItalic.otf') format('opentype');
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-SemiBold.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-SemiBoldItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-SemiBoldItalic.otf') format('opentype');
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Bold.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Bold.otf') format('opentype');
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-BoldItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-ExtraBold.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-ExtraBold.otf') format('opentype');
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-ExtraBoldItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-ExtraBoldItalic.otf') format('opentype');
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-Black.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-Black.otf') format('opentype');
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZT Nature';
	src: url('/jslucas/fonts/ZTNature-BlackItalic.woff2') format('woff2'),
		url('/jslucas/fonts/ZTNature-BlackItalic.otf') format('opentype');
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	font-display: swap;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'ZT Nature', serif;
}

h1,
.h1 {
	// @include clamp-text(72, 80, 88);
	font-size: vw(140) !important;
	line-height: 1.15 !important;
	letter-spacing: vw(-1);

	span {
		font-family: 'RL Madena', serif;
	}
}

h2,
.h2 {
	@include clamp-text(48, 56, 64);
	font-optical-sizing: auto;
	line-height: 1.4 !important;
	font-weight: 250;

	span.sans {
	@include clamp-text(40, 48, 56);
		font-family: 'ZT Nature', serif;
		display: block;
		letter-spacing: -1.5px;
	}

	span.serif {
		font-family: 'RL Madena', serif;
		display: block;
		letter-spacing: -1px;
	}
}

h3,
.h3 {
	// @include clamp-text(72, 80, 88);
	font-size: vw(21) !important;
	line-height: 1 !important;
	letter-spacing: vw(-.5);
	font-weight:600;
}

p, .p {
	@include clamp-text(16, 18, 40);
	line-height: .64 !important;

	&.bigger {
		@include clamp-text(20, 24, 48);
	}

	&.serif {
		font-family: 'RL Madena', serif;
	}
}

.p-sm {
	@include clamp-text(10, 14, 18);
}

.p-md {
	@include clamp-text(12, 16, 20);
}

.p-lg {
	@include clamp-text(16, 20, 24);
}

.p-xl {
	@include clamp-text(24, 28, 32);
}

i,
em {
	font-family: 'RL Madena', serif;
	display: inline-flex !important;
}

b,
strong {
	font-weight: 600;
}

a.skip-link:active,
a.skip-link:focus {
    position: absolute !important;
    width: auto;
    height: auto;
    overflow: visible;
    height: 32px;
    z-index: 400;
    clip: auto;
    white-space: normal;
}